policy_module(osquery, 1.0.0)

########################################
#
# Declarations
#

type osquery_t;
type osquery_exec_t;
init_daemon_domain(osquery_t, osquery_exec_t)

permissive osquery_t;

type osquery_log_t;
logging_log_file(osquery_log_t)

type osquery_unit_file_t;
systemd_unit_file(osquery_unit_file_t)

########################################
#
# osquery local policy
#
allow osquery_t self:capability { chown setgid setuid sys_chroot };
allow osquery_t self:process { fork ptrace setrlimit signal_perms };
allow osquery_t self:fifo_file rw_fifo_file_perms;
allow osquery_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(osquery_t, osquery_log_t, osquery_log_t)
manage_files_pattern(osquery_t, osquery_log_t, osquery_log_t)
manage_lnk_files_pattern(osquery_t, osquery_log_t, osquery_log_t)
logging_log_filetrans(osquery_t, osquery_log_t, { dir file lnk_file })

domain_use_interactive_fds(osquery_t)

files_read_etc_files(osquery_t)

auth_use_nsswitch(osquery_t)

logging_send_syslog_msg(osquery_t)

miscfiles_read_localization(osquery_t)

sysnet_dns_name_resolve(osquery_t)
