{{ osquery_syslog_target_facility_syslogconf }}.*      {{ osquery_syslog_target }}
{% if rsyslog_v.stdout is defined and rsyslog_v.stdout | version_compare('8.0', '<') %}
& ~
{% else %}
& stop
{% endif %}
if $programname == 'osqueryd' then            {{ osquery_syslog_target2 }}
{% if rsyslog_v.stdout is defined and rsyslog_v.stdout | version_compare('8.0', '<') %}
& ~
{% else %}
& stop
{% endif %}
